.comments_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comments_section h3 {
  margin: 0;
  padding-bottom: 10px;
  align-self: flex-start;
}

.one_comment,
.new_comment {
  background-color: #9ec5ab3f;
  margin-bottom: 20px;
  width: 85vw;
  box-shadow: 0px 0px 5px #104f5555;
  border-radius: 5px;
  overflow: hidden;
}

.comment_infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 5px 10px;

  border-bottom: 1px solid #ffffff;
}

.comment_infos p {
  margin: 0;
}

.comment {
  padding: 0 10px;
  word-wrap: break-word;
  height: auto;
}

.comments_buttons {
  display: flex;
}

.comments_section textarea {
  margin: 10px 0 10px 10px;
  width: calc(100% - 20px);
  box-sizing: border-box; 
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

