.comments_section{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.comments_section h3{
   align-self: flex-start;
}

.one_comment, .new_comment{
   color: black;
   background-color: rgb(239, 239, 239);
   min-height: 100px;
   margin-bottom: 20px;
   width: 85vw;
   border: solid rgb(178, 188, 188) 1px;
   border-radius: 5px;
}

.comment_infos{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0;
   padding: 0 5px;
   background: rgb(148, 197, 197);
}

.comment_infos p{
margin: 0;
}

.comment_author{
   color: black;
   font-weight: bold;
}

.comment_author:hover{
   color: teal;
}
