.form_container{
  background-color: white;
  box-shadow: 0px 0px 5px 0px #104f552a;
  border-radius: 5px;
  margin: auto;
  margin-top: 50px;
  padding:50px 0;
  width: 60vw;
}

.project_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.project_h1 {
  text-align: center;
  color: #104F55;
}

label {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(0, 90, 90);
}

.submit_button {
  display: block;
  padding: 0 20px;
}

.submit_button:hover {
  background: rgb(66, 163, 163);
}

.project_form textarea {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  min-height: 200px;
}

.form_inputs {
  margin-bottom: 20px;
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

.no_tech_inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
}
.technologies_inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.one_tech_input {
  display: flex;
  gap: 5px;
}

input,
textarea {
  font-size: 1rem;
}
input::placeholder,
textarea::placeholder {
  color: rgba(0, 128, 128, 0.346);
}

textarea {
  height: 100px;
}

.add_tech_div {
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.add_tech_div p {
  font-size: 0.9rem;
  color: grey;
  margin: 0;
}

@media (max-width: 768px) {
  .form_inputs {
    justify-content: center;
    flex-wrap: wrap;
  }
}
