#root {
  margin: 0 auto;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.app-name {
  margin: 0;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 40px;
  text-decoration: none;
  color: #0066b2;
  text-decoration: none;
  color: #0066b2;
  font-weight: 500;
  font-size: 20px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #006a4e;
}

/* UserProject.css */
.user-Projects-Title {
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 5%;
}
.user-project-container {
  padding: 20px;
}

.project-card {
  margin-bottom: 20px;
  background-color: #87a96b;
  border: 1px solid #ccc;
  border-radius: 10px;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-card-actions {
  display: flex;
  justify-content: space-between;
}
.project-card-title {
  font-weight: bold;
  background-color: #006a4e;
  color: white;
  padding: 5px 10px;
}
.project-card-actions button {
  border-color: #006a4e;
  font-weight: 500;
}

.project-card-actions button:hover {
  background-color: #006a4e;
  border-color: #006a4e;
}

.hidden {
  display: none;
}
