#root {
  margin: 0 auto;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.app-name {
  margin: 0;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 40px;
  text-decoration: none;
  color: #0066b2;
  text-decoration: none;
  color: #0066b2;
  font-weight: 500;
  font-size: 20px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: rgb(12, 33, 66);
}

.projects-list {
  border: 10px solid rgb(136, 40, 79);
}
.hidden {
  display: none;
}
